= "Hello, #{current_user.full_name} #{link_to 'sign out', sign_out_path}".html_safe
= form_for(@todo ) do |f|
  = f.label :name, "Name"
  = f.text_field :name, size: "50"
  / = f.text_field :description
  = f.submit "Add Todo"
%br
%ul
  - @todos.each do |todo|
   / %li= link_to "#{todo.display_text}", todo
   / %li= link_to TodoDecorator.new(todo).display_text, todo
    %li= link_to todo.decorator.display_text, todo

